@charset "utf-8";
/* CSS Document */
/* styles for whole doc */
html {
  overflow-x: hidden;
}
.rick-font {
	font-family: 'Merriweather', serif;
}
.aor-font {

font-family: 'Palanquin Dark', sans-serif;
}
.aor-font-reg {
	font-family: 'Palanquin', sans-serif;
}
.row {
	max-width: 90rem;
}
.sticky {
	z-index: 25;
}
body {
  background-color: #222;
	font-family: 'Palanquin', sans-serif;
	/*font-family: Arial, Helvetica, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", sans-serif;*/
	font-size: 1.1em;
	color: #4a4a4a;
  }
.highlight {
	color: #0f6cdf;
}
.v-space-sm {
	margin-top: .5em;
}
.h-space {
	/*margin-right: .65rem;*/
	margin-left: 2rem;
}
li.active a {
	color: #2D8CD7;
}

div.off-canvas-wrapper  div.off-canvas-content {
	overflow-y: hidden;
	background-color: #222;
/*	    box-shadow: 0 0 0px rgba(10, 10, 10, 0); turn off box shadow on off canvas content */
}
div#offCanvasLeft.off-canvas.position-left {
	background: #222;
}
/* styles for header */

div.detail-head-large {
 	width: 100%;
	height: 4em;
	position: absolute;
  top: 0;
	left: 0;
	max-width: 1440px;
 z-index: -1;
}
.head-logo-lg {
	padding-top: 1%;
}
.head-logo {
	padding: .05em 0 0 0;
}
.head-container {
  padding: 0;
}
.cart-br-space {
	line-height: 25px;
}
.cart-v-space {
	margin-top: 12px;
}
.detail-head-menu {
	text-align: right;
  color: white;
}
.head-menu {
	list-style-type: none;
	padding: .05em .5em 0 0;
	margin: 0;
}
.head-menu li {
	display: inline;
}
li a {
	color: #acadab;
  padding: 0 .5em 0 .5em;
} 

/*div.detail-head-small {
 	width: 100%;
	height: 4em;
	position: absolute;
  top: 0;
	max-width: none;
 z-index: -1;
}*/

/* styles for main content at top, i.e. main image and text description */

.main-row {
	padding: 4em 0 0 0;
	background-color: #a7a99b;
	background-image:url(../img/grey_background.jpg)
}
.main-image-panel.columns {
	padding: 0;
}
.arrow {
  padding: 20%;
}
.small-1.column.text-center.divarrow {
	padding-top: 25%;
}
.blue a i {
	color: #2D8CD7;
}
.arrow:hover {
	color: #2D8CD7;
}
.main-image a {
	color: #5e5e5e;
}

div.row.main-image {
	padding: 0;
	/*	padding: 4.5em 0 0 0;*/
	margin: 0;
}

cite {
	color: #4a4a4a;
}
.add-to-cart-bt {
	color: #a7a99b;
	background-color: #4a4a4a;
	padding: 5px;
	margin: 1em 0 1em 0;
	width: 110px;
	text-align: center;
	border-radius: 8px;	
}
.detail-text a {
	color: white;
}
.detail-text {
	margin-bottom: 1em;
}
.main-image .column {
	padding: 0;
}
#zoom-minus {
	display: none;
}
#zoom-divider {
	display: none;
}
/*.btn--primary:hover {
    background: #2D8CD7 !important;
    border-color: #2D8CD7 !important;
}*/

/* styles for alternate images */
.alt-images {
/*	padding: 10px 4px;
*/}
.ai {
	/*padding-right: 10px;*/
}
.ai img {
	margin: 10px;
}
.image-wrapper .ai img.not-selected {
	box-shadow: 0 0 3px 2px #737373;
	/*outline: 2px solid #ccc;*/
}
.image-wrapper .ai img.selected {
	box-shadow: 0 0 3px 2px #d1d7c4;
	/*outline: 2px solid #ccc;*/
}

.image-wrapper img, #sizing-image {
	margin: 10px;
	box-shadow: 0 0 5px 3px #737373;
	max-width: 95%;
}

/* styles for secondary content below the fold */

div.divide-container-lg {
	width: 100%;
	/*height: 115px;*/
	position:relative;
	max-width:1440px;
	/*padding: 0;*/
}
div.divide-container-sm {
	width: 100%;
	height: 50px;
	position:relative;
	max-width:1440px;
	/*padding: 0;*/
}

.divide-label-lg {
	position:relative;
	height: 115px;
}
.divide-label-sm {
	position:relative;
	height: 50px;
}

div.divide-bkg {
/*	position: absolute;
	top: 0; */
z-index: -1;
}
div.gallery-divide-bkg {
/* There is 1.5rem of padding for the gallery section. because this is a row inside a row, 
 foundation sets the margin to -.9375. but this leave this chunk still pushed a bit to the right
 this negative margin corrects this. 1.5 - .9375 = .5625 */	
/*margin-left: -.5625rem;*/
/*z-index: -1;*/
}

div.row.divide-row {
	position: absolute;
	top: 0px;
	color: #ababab;
	width: 100%;
	margin: 0;
}

.divide-content-sm {
	position:absolute;
	bottom: -15px;
}
.divide-content-lg {
/*	position:absolute;
	bottom: 15px;*/
}

.social-icons-white {
	margin-left: 2em;
}
.social-icons-white a {
	color: white;
}
.social-icons-white a i {
	padding: 0 1em 0 0 ;	
}
.social {
/*clear: both;
	width: 90%;*/
	margin-top: .4em ;
	text-align: center;
}
.social-icons {
	float: left;
}
.social-icons a i {
	padding: 0 2em 0 0 ;	
}
.social-icons a, .controls a,  footer div p {
	color: #5e5e5e;
}
/*.blue-text-panel {
	background-color: #a7a99b; 
	background-image:url(../img/grey_background.jpg)
}*/
/*.green-text-panel {
	background-color: #458066;
}*/
/*.v-space {
	margin-top: 1.5em;
}*/




.thumbnail-gallery {
	background-color: #232b3a;
	background-image:url(../../img/texture_blue.png);
	padding: 1.5rem;
	padding-bottom: 0px;
}
div.column.gallery {
	padding: .5rem 1.5rem 1.5rem 1.5rem;
	/*padding-right: 1.5rem;*/
}
.thumbnail-gallery .not-viewed {
	  border: solid 4px #4a4a4a;
		opacity: 0.65; 
}
.thumbnail-gallery .viewed {
	  border: solid 4px #ababab; 
		opacity: 1;
}

.thumbnail-gallery .viewed:hover, .thumbnail-gallery .not-viewed:hover {
	  border: solid 4px #0f6cdf;
}

/* styles for the footer */
.div.row.blue-footer {
	background-color: #232b3a;
	background-image:url(../img/texture_blue.png);
	padding: 1.5rem;
	margin: 0;
	padding-bottom: 0px;
	color: #818da5;
	margin-top: -2px;
	position: relative;
/*	margin-left: -0.9375rem;
	margin-right: -0.9375rem;
*/}
.blue-footer a {
	color: #acadab;
}
div.row.footer-wedge {
	margin: 0;
}

.brown-panel {
	background-color: #403831;
	background-image:url(../img/texture_brown.png);
	padding: 1.5rem;
	padding-bottom: 0px;
	color: #a29991;
/*	margin-left: -0.9375rem;
	margin-right: -0.9375rem;
*/}


.logo-footer {
	/*margin-top: -1rem;*/
	margin-bottom: .5rem;
}
a:hover, a .fa-bars:hover{
	color: #0f6cdf;
}






/* images for animation */
.image-wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	/*box-shadow: 0 0 5px 3px #6d6e66;*/
 /* -webkit-box-shadow: 2px 2px 12px 3px rgba(0,0,0,0.25);
	box-shadow: 2px 2px 12px 3px rgba(0,0,0,0.25);*/
	}

#image-overlay-content1, #image-overlay-content2, #image-overlay-content3, #image-overlay-content4, #image-overlay-content5, #image-overlay-content6, #image-overlay-content7, #image-overlay-content8, #image-overlay-content9, #image-overlay-content10, #image-overlay-content11, #image-overlay-content12, #image-overlay-content13, #image-overlay-content14, #image-overlay-content15, #image-overlay-content16, #image-overlay-content17, #image-overlay-content18, #image-overlay-content19, #image-overlay-content20, #image-overlay-content21, #image-overlay-content22, #image-overlay-content23, #image-overlay-content24, #image-overlay-content25 {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; 
	-ms-transform: translateX(-110%);
	-webkit-transform: translateX(-110%);
	transform: translateX(-110%);
	}
#image-overlay-content1 {
	-ms-transform: translateX(0px);
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}
#sizing-image {
	visibility: hidden;
}

/* text animation */
#text-overlay-content1, #text-overlay-content2, #text-overlay-content3, #text-overlay-content4, #text-overlay-content5, #text-overlay-content6, #text-overlay-content7, #text-overlay-content8, #text-overlay-content9, #text-overlay-content10, #text-overlay-content11, #text-overlay-content12, #text-overlay-content13, #text-overlay-content14, #text-overlay-content15, #text-overlay-content16, #text-overlay-content17, #text-overlay-content18, #text-overlay-content19, #text-overlay-content20, #text-overlay-content21, #text-overlay-content22, #text-overlay-content23, #text-overlay-content24, #text-overlay-content25 {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; 
	-ms-transform: translateX(-110%);
	-webkit-transform: translateX(-110%);
	transform: translateX(-110%);
	}
#text-overlay-content1 {
	-ms-transform: translateX(0px);
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}
#sizing-head, #sizing-body {
		visibility: hidden;
}
div.thumb.column {
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 20px;
}
div.thumb.small-10 {
	padding-left: 0px;
	padding-right: 0px;
}
/* bit of a kluge, remove the padding so the animation walks in from the edge of the screen. Add it back to the text elements. This is just on the index page*/
.no-right-pad {
	padding-right: 0;
}
.extra-pad {
	padding-right: 12%;
}
/*video {
  width: 100%    !important;
  height: auto   !important;
}*/
#sizing-anim {
	display: none;
}
.video video,
.video canvas {
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
 }
video {
	width: 100% !important;
    height: 100% !important;
    position: absolute;
}
/* rick home styles */
.rickhome-left-panel, .rickhome-right-panel{
	position: relative;
	z-index: 5;
}
#worlds img, #dogs img, #rp img, #random img, #bombs img, #self img{
	box-shadow: 0 0 5px 3px #737373;
	/*opacity: .75;*/
}
#worlds {
	padding-top: 8%;
	position: relative;
}
#worlds2 {
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 2%;
	position: relative;
}
#dogs {
	padding-top: 4%;
	position: relative;
}
#rp {
	padding-left: 12%;
	padding-right: 12%;
	padding-top: 4%;
	position: relative;
}
#lamp {	
	padding-left: 5%;
	padding-right: 5%;
	margin-top: -5%;
	position: relative;
}
#random {
	padding-left: 12%;
	padding-right: 12%;
	padding-top: 2%;
	position: relative;
}
#random2 {
	padding-top: 8%;
	position: relative;
}

#bombs {
	padding-top: 10%;
	padding-left: 7%;
	padding-right: 7%;
	position: relative;
}
#self {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 4%;
	position: relative;
}
div.rickhome-neg-space.gallery-divide-bkg {
	margin-left: 0;
}
div.rickhome-neg-space {
	/*relationship between the width and height of the wedge*/
	margin-top: -7.986%;
	padding: 0;
}
div.rickhead-neg-space {
	/*relationship between the width and height of the wedge*/
	/*margin-top: -7.986%;*/
	margin-left: 0;
	/*padding: 0;*/
/*	margin-left: -2px;*/
}

/*div.rickhome-neg-space2 {
	margin-top: -79px;
}*/

h5.rickhome_gallery_names {
	color: #ddd;
	position: absolute;
	bottom: 8%;
	width:100%;
	font-family: 'Merriweather', serif;
	text-shadow:0px 0px 10px black;
	-webkit-transition: 0.2s;
  transition: 0.2s;
	line-height: 1.2em;
}

#lamp h5.rickhome_gallery_names {
	margin-left: -2%;
}
.rickhome_gallery {
  display: inline-block;
  position: relative;
  vertical-align: top;
	padding: 0;
}
.rickhome_gallery_black {
  background: black;
  bottom: 0;
  left: 0;
  opacity: .15;
  position: absolute;
  top: 0;
  right: 0;
	-webkit-transition: 0.2s;
  transition: 0.2s;
}
#lamp .rickhome_gallery_black {
	display: none;
}
#gallery_name {
	margin-top: -5%;
}
#gallery_name h4 {
	line-height: 1.2em;
}
/*.gallery_viewed {
	opacity: .25;
}
*/
.aorhome_left_panel {
	background-color: #232b3a;
	background-image:url(../img/texture_blue.png);
	padding: 0;
	padding-top: 3%;
}
.aorhome_right_panel {
	background-color: #403831;
	background-image:url(../img/texture_brown.png);
	/*margin-top: 3%;*/
}
.fa-bars {
	margin-top: 1.5em;
	color: #5e5e5e;
}
.aorhome-welcome {
	background-color: #7e827a;
	background-image:url(../img/texture_grey.png);

	padding: 0 1.5rem 0 1.5rem;
	/*padding-top: 4rem;*/
	color: black;
	/*margin-left: -0.9375rem;
	margin-right: -0.9375rem;*/
}
svg {
	display: block;
}
.exhibit-name {
	color: #0f6cdf;
	margin-top: -60%;
	position: relative;
	z-index: 5;
	font-size: 4vw;
	line-height: 1em;
}
.exhibit-name a {
color: #0f6cdf;
}
.copyright {
	color: #404b60;
}
.upcoming img {
	padding: 5% 25% 0 25%;
}

.container {
    padding-bottom: 11.5972%; /*this is your height/width ratio*/
    height: 0;
		position:relative;
  }
	.container svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}