/* CSS Document */
/* styles for whole doc */
$darkgrey: 			#222;
$brightblue: 		#0f6cdf;
$brightblue-alt: 	#0051b5;
$lightgrey: 		#acadab;
$midgrey: 			#4a4a4a;
$greygreen: 		#a7a99b;
$almostwhite: 		#eee;

$highlight: $brightblue;
$highlight-alt: $brightblue-alt;
$main-text: $midgrey;

html {
  overflow-x: hidden;
}
.rick-font {
	font-family: 'Merriweather', serif;
}
.aor-font {

font-family: 'Palanquin Dark', sans-serif;
}
.aor-font-reg {
	font-family: 'Palanquin', sans-serif;
}
.row {
	max-width: 90rem;
}
.sticky {
	z-index: 25;
}
body {
  background-color: $darkgrey;
	font-family: 'Palanquin', sans-serif;
	/*font-family: Arial, Helvetica, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", sans-serif;*/
	font-size: 1.1em;
	color: $main-text;
  }
p {
	line-height: 1.5;
}
.highlight {
	color: $highlight;
}
.v-space-sm {
	margin-top: .5em;
}
.v-space-lg {
	margin-top: 1em;
}
.h-space {
	margin-left: 2rem;
}
li.active a {
	color: $almostwhite;
}

div.off-canvas-wrapper  div.off-canvas-content {
	overflow-y: hidden;
	background-color: $darkgrey;
}
div#offCanvasLeft.off-canvas.position-left {
	background: $darkgrey;
}
/* styles for header */

div.detail-head-large {
 	width: 100%;
	position: absolute;
  top: 0;
	left: 0;
	max-width: 1440px;
 z-index: -1;
}
.head-logo-lg {
	padding-top: 1%;
}
.head-logo {
	padding: .05em 0 0 0;
}
.head-container {
  padding: 0;
	position: relative;
}
.cart-br-space {
	line-height: 25px;
}
.cart-v-space {
	margin-top: 12px;
}
.detail-head-menu {
	text-align: right;
  color: white;
}
.head-menu {
	list-style-type: none;
	padding: .05em .5em 0 0;
	margin: 0;
}
.head-menu li {
	display: inline;
}
li a {
	color: $lightgrey;
  padding: 0 .5em 0 .5em;
} 

/* styles for main content at top, i.e. main image and text description */

.main-row {
	padding: 4em 0 0 0;
	background-color: $greygreen;
	background-image:url(../img/grey_background.jpg)
}
.main-image-panel.columns {
	padding: 0;
}
.arrow {
  padding: 20%;
}
.small-1.column.text-center.divarrow {
	padding-top: 25%;
}


/* styles for secondary content below the fold */





.social-icons-white {
	margin-left: 2em;
}
.social-icons-white a {
	color: white;
}
.social-icons-white a i {
	padding: 0 1em 0 0 ;	
}
.social {
	margin-top: .4em ;
	text-align: center;
}
.social-icons {
	float: left;
}
.social-icons a i {
	padding: 0 2em 0 0 ;	
}
.social-icons a, .controls a,  footer div p {
	color: #5e5e5e;
}




/* styles for the footer */
.blue-footer {
	background-color: #232b3a;
	background-image:url(../img/texture_blue.png);
	padding: 1.5rem;
	padding-bottom: 0px;
	color: #818da5;
	margin-top: -2px;
	position: relative;
}
div.row.footer-wedge {
	margin: 0;
}
.blue-footer a {
	color: #acadab;
}
.brown-panel {
	background-color: #403831;
	background-image:url(../img/texture_brown.png);
	padding: 1.5rem;
	padding-bottom: 0px;
	color: #a29991;
}


.logo-footer {
	margin-bottom: .5rem;
}
a:hover, a .fa-bars:hover{
	color: #0f6cdf;
}



/* bit of a kluge, remove the padding so the animation walks in from the edge of the screen. Add it back to the text elements. This is just on the index page*/
.no-right-pad {
	padding-right: 0;
}
.extra-pad {
	padding-right: 12%;
}
#sizing-anim {
	display: none;
}
.video video,
.video canvas {
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
 }
video {
	width: 100% !important;
    height: 100% !important;
    position: absolute;
}

div.aorhome-neg-space.gallery-divide-bkg {
	margin-left: 0;
}
div.aorhome-neg-space {
	/*relationship between the width and height of the wedge*/
	margin-top: -7.986%;
	padding: 0;
	padding-bottom: 7.986%; /*this is your height/width ratio*/
	height: 0;
	position:relative;
	/*margin-left: -1px;*/

}
div.aorhome-neg-space2 {
	/*relationship between the width and height of the wedge*/
	margin-top: -7.986%;
	padding: 0;
	padding-bottom: 7.986%; /*this is your height/width ratio*/
	height: 0;
	position:relative;

}


h5.rickhome_gallery_names {
	color: #ddd;
	position: absolute;
	bottom: 8%;
	width:100%;
	font-family: 'Merriweather', serif;
	text-shadow:0px 0px 10px black;
	-webkit-transition: 0.2s;
  transition: 0.2s;
	line-height: 1.2em;
}

#lamp h5.rickhome_gallery_names {
	margin-left: -2%;
}
.rickhome_gallery {
  display: inline-block;
  position: relative;
  vertical-align: top;
	padding: 0;
}
.rickhome_gallery_black {
  background: black;
  bottom: 0;
  left: 0;
  opacity: .15;
  position: absolute;
  top: 0;
  right: 0;
	-webkit-transition: 0.2s;
  transition: 0.2s;
}
#lamp .rickhome_gallery_black {
	display: none;
}
#gallery_name {
	margin-top: -5%;
}
#gallery_name h4 {
	line-height: 1.2em;
}
.aorhome_left_panel {
	background-color: #232b3a;
	background-image:url(../img/texture_blue.png);
	padding: 0;
	padding-top: 3%;
}
.aorhome_right_panel {
	background-color: #403831;
	background-image:url(../img/texture_brown.png);
}
.fa-bars {
	margin-top: 1.5em;
	color: #5e5e5e;
}
.aorhome-welcome {
	background-color: #a7a99b;
	background-image:url(../img/grey_background.jpg);

	/*background-color: #7e827a;
	background-image:url(../img/texture_grey.png);*/
	padding: 0 1.5rem 0 1.5rem;
/*	color: black;*/
}
.aorhome-welcome a {
	color: $highlight-alt;
/*	padding-left: 1em;
	padding-right: 1em;
	border-radius: 5px;*/
}
.aorhome-welcome a:hover {
	/*background-color: #2461ad;*/
	color: $almostwhite;
}
.about-welcome {
	background-color: #7e827a;
	background-image:url(../img/texture_grey.png);
	padding: 0 1.5rem 0 1.5rem;
	color: black;
}
.about-welcome a {
	color: #ddd;
	padding-left: .2em;
	padding-right: .2em;
	border-radius: 5px;
}
.about-welcome a:hover {
	background-color: #2461ad;
}

svg {
	display: block;
}
.exhibit-name {
	color: #0f6cdf;
	margin-top: -60%;
	position: relative;
	z-index: 5;
	font-size: 4vw;
	line-height: 1em;
/*	box-shadow: 0px 2px 0px #b4b1b1;
  background-color: rgba(255,255,255,0.7);*/
  padding-left: 0;
  padding-right: 0;
  margin-right: 10px;
	border-radius: 10px;
  padding-top: 5px;
}
.exhibit-name:hover {
	box-shadow: 0px 2px 0px #b4b1b1;
  background-color: rgba(255,255,255, 0.7);
}
.exhibit-name img {
	margin-top: -5px;
}
.exhibit-name a {
	color: #0f6cdf;
}
.copyright {
	color: #667d9b;
}
.upcoming img {
	padding: 5% 25% 0 25%;
}

.head-svg-container {
    padding-bottom: 11.5972%; /*this is your height/width ratio*/
    height: 0;
		position:relative;
		margin-left: 0;
  }
.head-svg-container svg, .aorhome-neg-space svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
div.row.margin-zero {
	margin: 0;
}
div.padding-zero {
	padding: 0;
}
.aorhome-zindex-adjust {
	position: relative;
	z-index: 3;
}
.contact-main {
	/*font-size: 1.3em;*/
	background-color: #a7a99b;
	background-image:url(../img/grey_background.jpg);
	padding-top: 15%;
	padding-bottom: 10%;
}
.contact-main a {
	color: #4a4a4a;
}
.contact-main a:hover {
	color: #0f6cdf;
}
.contact-options {
	background-color: #7e827a;
	background-image:url(../img/texture_grey.png);
	padding: 0 1.5rem 0 1.5rem;
	color: black;
}

.contact-options a {
	color: black;
}
.contact-options a:hover {
	color: black;
}
.contact-main img {
	margin: 0 0 20px 20px;
}
.select-box {
	width: 100%;
	background: #deded8;
	margin-bottom: 2px;
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
	/*border: .5px solid #e8e8e8;*/
	box-shadow: 0px 2px 0px #888;
}
input[type=text], select, input[type=number] {
	border: none;
	border-radius: 3px;
	color: black;
	width: 100%;
	padding-left: .5em;
}
input[type=submit] {
 	margin: 0;
	padding: .2em .5em;
	background-color: #5d5d5d;
	border: none;
	border-radius: 3px;
	color: #fefefe;
  cursor: pointer;
}
input[type=submit]:hover, input[type=submit]:focus {
	background-color: #0f6cdf;
  color: #fefefe;
}
.textbox {
	width: 100%;
	height: 100px;
	border: none;
	border-radius: 3px;
	color: black;
	padding-left: .5em;
}
.center_me {
	width: 100%;
	text-align: center;
}
.phone {
	font-size: 1.1em;
}
.error, .message{
	width:100%;
	color: #4a4a4a;
	border: 2px solid #e8e8e8;
	border-radius: 3px;
	margin: 1em auto 1em auto; 
	padding: 1em;
	text-align: left;
	/*background-color: #ddd;*/
}

.error {
	color: #9e0c0f;
}