/* CSS Document */
/* styles for whole doc */
$darkgrey: 			#222;
$brightblue: 		#0f6cdf;
$brightblue-alt: 	#0051b5;
$lightgrey: 		#acadab;
$midgrey: 			#4a4a4a;
$greygreen: 		#a7a99b;
$darkgreygreen:		#7e827a;
$almostwhite: 		#eee;
$midblue: 			#818da5;
$darkblue:			#232b3a;
$darkbrown:			#403831;
$lightbrown:		#a29991;
$midlightgrey:		#5e5e5e;
$bluegrey:			#7e827a;
$lightgreygreen:	#deded8;
$red:				#deded8;

$highlight: $brightblue;
$highlight-alt: $brightblue-alt;
$main-text: $midgrey;
$blue-footer-text: $midblue;

html {
  overflow-x: hidden;
}
.rick-font {
	font-family: 'Merriweather', serif;
}
.aor-font {

font-family: 'Palanquin Dark', sans-serif;
}
.aor-font-reg {
	font-family: 'Palanquin', sans-serif;
}
.row {
	max-width: 90rem;
}
.sticky {
	z-index: 25;
}
body {
  background-color: $darkgrey;
	font-family: 'Palanquin', sans-serif;
	/*font-family: Arial, Helvetica, "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", sans-serif;*/
	font-size: 1.1em;
	color: $main-text;
  }
p {
	line-height: 1.5;
}
.highlight {
	color: $highlight;
}

.h-space {
	margin-left: 2rem;
}
li.active a {
	color: $almostwhite;
}

div.off-canvas-wrapper  div.off-canvas-content {
	overflow-y: hidden;
	background-color: $darkgrey;
}
div#offCanvasLeft.off-canvas.position-left {
	background: $darkgrey;
}
/* styles for header */

div.detail-head-large {
 	width: 100%;
	position: absolute;
  top: 0;
	left: 0;
	max-width: 1440px;
 z-index: -1;
}
.head-logo-lg {
	padding-top: 1%;
}
.head-container {
  padding: 0;
	position: relative;
}

.detail-head-menu {
	text-align: right;
  color: white;
}
.head-menu {
	list-style-type: none;
	padding: .05em .5em 0 0;
	margin: 0;
}
.head-menu li {
	display: inline;
}
li a {
	color: $lightgrey;
  padding: 0 .5em 0 .5em;
} 

/* styles for the footer */
.blue-footer {
	background-color: $darkblue;
	background-image:url(../img/texture_blue.png);
	padding: 1.5rem;
	padding-bottom: 0px;
	color: $blue-footer-text;
	margin-top: -2px;
	position: relative;
}
div.row.footer-wedge {
	margin: 0;
}
.blue-footer a {
	color: $lightgrey;
}
.brown-panel {
	background-color: $darkbrown;
	background-image:url(../img/texture_brown.png);
	padding: 1.5rem;
	padding-bottom: 0px;
	color: $lightbrown;
}


.logo-footer {
	margin-bottom: .5rem;
}
a:hover, a .fa-bars:hover{
	color: $brightblue;
}

video {
	width: 100% !important;
    height: 100% !important;
    position: absolute;
}


div.aorhome-neg-space {
	/*relationship between the width and height of the wedge*/
	margin-top: -7.986%;
	padding: 0;
	padding-bottom: 7.986%; /*this is your height/width ratio*/
	height: 0;
	position:relative;
	/*margin-left: -1px;*/

}
div.aorhome-neg-space2 {
	/*relationship between the width and height of the wedge*/
	margin-top: -7.986%;
	padding: 0;
	padding-bottom: 7.986%; /*this is your height/width ratio*/
	height: 0;
	position:relative;

}
.aorhome_left_panel {
	background-color: $darkblue;
	background-image:url(../img/texture_blue.png);
	padding: 0;
	padding-top: 3%;
}
.aorhome_right_panel {
	background-color: $darkbrown;
	background-image:url(../img/texture_brown.png);
}
.fa-bars {
	margin-top: 1.5em;
	color: $midlightgrey;
}
.aorhome-welcome {
	background-color: $greygreen;
	background-image:url(../img/grey_background.jpg);
	padding: 0 1.5rem 0 1.5rem;
}
.aorhome-welcome a {
	color: $highlight-alt;
}
.aorhome-welcome a:hover {
	color: $almostwhite;
}
.about-welcome {
	background-color: $darkgreygreen;
	background-image:url(../img/texture_grey.png);
	padding: 0 1.5rem 0 1.5rem;
	color: black;
}
.about-welcome a {
	color: #ddd;
	padding-left: .2em;
	padding-right: .2em;
	border-radius: 5px;
}
.about-welcome a:hover {
	background-color: $brightblue-alt;
}

svg {
	display: block;
}
.exhibit-name {
	color: $brightblue;
	margin-top: -60%;
	position: relative;
	z-index: 5;
	font-size: 4vw;
	line-height: 1em;
  	padding-left: 0;
  	padding-right: 0;
 	margin-right: 10px;
	border-radius: 10px;
  	padding-top: 5px;
}
.exhibit-name:hover {
	box-shadow: 0px 2px 0px $lightgrey;
  background-color: rgba(255,255,255, 0.7);
}
.exhibit-name img {
	margin-top: -5px;
}
.exhibit-name a {
	color: $brightblue;
}
.copyright {
	color: $bluegrey;
}
.upcoming img {
	padding: 5% 25% 0 25%;
}

.head-svg-container {
    padding-bottom: 11.5972%; /*this is your height/width ratio*/
    height: 0;
		position:relative;
		margin-left: 0;
  }
.head-svg-container svg, .aorhome-neg-space svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
div.row.margin-zero {
	margin: 0;
}
div.padding-zero {
	padding: 0;
}
.aorhome-zindex-adjust {
	position: relative;
	z-index: 3;
}
.contact-main {
	/*font-size: 1.3em;*/
	background-color: $greygreen;
	background-image:url(../img/grey_background.jpg);
	padding-top: 15%;
	padding-bottom: 10%;
}
.contact-main a {
	color: $midgrey;
}
.contact-main a:hover {
	color: $brightblue;
}
.contact-options {
	background-color: $darkgreygreen;
	background-image:url(../img/texture_grey.png);
	padding: 0 1.5rem 0 1.5rem;
	color: black;
}

.contact-options a {
	color: black;
}
.contact-options a:hover {
	color: black;
}
.contact-main img {
	margin: 0 0 20px 20px;
}
.select-box {
	width: 100%;
	background: $lightgreygreen;
	margin-bottom: 2px;
	padding: 1em;
	margin-left: auto;
	margin-right: auto;
	border-radius: 3px;
	box-shadow: 0px 2px 0px $darkgreygreen;
}
input[type=text], select, input[type=number] {
	border: none;
	border-radius: 3px;
	color: black;
	width: 100%;
	padding-left: .5em;
}
input[type=submit] {
 	margin: 0;
	padding: .2em .5em;
	background-color: $midlightgrey;
	border: none;
	border-radius: 3px;
	color: $almostwhite;
  cursor: pointer;
}
input[type=submit]:hover, input[type=submit]:focus {
	background-color: $brightblue;
  color: $almostwhite;
}
.textbox {
	width: 100%;
	height: 100px;
	border: none;
	border-radius: 3px;
	color: black;
	padding-left: .5em;
}
.center_me {
	width: 100%;
	text-align: center;
}
.phone {
	font-size: 1.1em;
}
.error, .message{
	width:100%;
	color: $midgrey;
	border: 2px solid $almostwhite;
	border-radius: 3px;
	margin: 1em auto 1em auto; 
	padding: 1em;
	text-align: left;
}

.error {
	color: $red;
}