@import "animate"; 

$brightblue: 		#0f6cdf;
$brightblue-alt: 	#0051b5;
$midblue: 			#818da5;
$darkblue:			#232b3a;
$bluegrey:			#667d9b;
$darkgrey: 			#222;
$midgrey: 			#4a4a4a;
$midlightgrey:		#5e5e5e;
$lightmidgrey:		#737373;
$lightgrey: 		#acadab;
$greygreen: 		#a7a99b;
$darkgreygreen:		#7e827a;
$lightgreygreen:	#deded8;
$almostwhite: 		#eee;
$darkbrown:			#403831;
$lightbrown:		#a29991;
$red:				#9e0c0f;

/* cd design logo stuff */
.cd_red_f {
	fill: #9a5044;
}

.cd_dk_brown_f {
	fill: #605449;
}

.cd_blue_f {
	fill: #6088a5;
}

.cd_green_f {
	fill: #618246;
}
.cd-logo {
	display: inline;
	margin-bottom: -15px;
}

html {
  overflow-x: hidden;
}
.rick-font {
	font-family: 'Merriweather', serif;
}
.aor-font {

font-family: 'Palanquin Dark', sans-serif;
}
.row {
	max-width: 90rem;
}
.sticky {
	z-index: 25;
}
body {
  background-color: $darkgrey;
	font-family: 'Palanquin', sans-serif;
	color: #4a4a4a;
  }
.v-space-sm {
	margin-top: .5em;
}
.h-space {
	margin-left: 2rem;
}
div.off-canvas-wrapper  div.off-canvas-content {
	overflow-y: hidden;
	background-color: $darkgrey;
}
div#offCanvasLeft.off-canvas.position-left {
	background: $darkgrey;
}
/* styles for header */

div.detail-head-large {
 	width: 100%;
	position: absolute;
  	top: 0;
	max-width: 1440px;
 	z-index: -1;
}
.head-logo {
	padding: .05em 0 0 0;
}
.head-container {
  padding: 0;
}
.detail-head-menu {
	text-align: right;
  	color: white;
}
li a {
	color: $lightgrey;
  padding: 0 .5em 0 .5em;
} 


/* styles for main content at top, i.e. main image and text description */

.main-row {
	padding: 4em 0 0 0;
	background-color: $greygreen;
	background-image:url(../img/grey_background.jpg)
}
.main-image-panel.columns {
	padding: 0;
}
.gallery-name a {
	color: $brightblue;
	padding-left: .5em;
	padding-right: .5em;
	border-radius: 5px;
}
.gallery-name a:hover {
	color: $almostwhite;
	background-color: $brightblue;
}
.arrow {
  padding: 20%;
}
.small-1.column.text-center.divarrow {
	padding-top: 25%;
}
.blue a i {
	color: $brightblue;
}
.arrow:hover {
	color: $brightblue;
}
.main-image a {
	color: $midlightgrey;
}

div.row.main-image {
	padding: 0;
	margin: 0;
}

cite {
	color: $midgrey;
}

/* detail text is the styles for the text loaded from the db that apears to the left or below the art image */
.detail-text a {
	color: $almostwhite;
}
.detail-text {
	margin-bottom: 1em;
}
.detail-text a:hover {
	color: $brightblue;
}
/* a few special styles for the last page of ricks galleries */
.rick-credit {
	font-size: .9em;
}
.rick-credit ul {
	list-style-type: square;
}
.rick-credit a {
	padding: 0;
}
/*.rick-credit a:hover {
	color: #0f6cdf;
	background-color: rgba(255, 255, 255, 0.0);
}*/
/* detail-more-text is special styles for the last slide on a page that has links to social media, etc. */
.detail-more-text a {
	color: $brightblue;
	padding: .5em;
	border-radius: 5px;
}
.detail-more-text a:hover {
	color: $almostwhite;
	background-color: $brightblue;
}

.detail-more-text {
	margin-bottom: 1em;
}
.main-image .column {
	padding: 0;
}
#zoom-minus {
	display: none;
}

/* styles for alternate images */

.ai img {
	margin: 10px;
}
.image-wrapper .ai img.not-selected {
	box-shadow: 0 0 3px 2px $lightmidgrey;
}
.image-wrapper .ai img.selected {
	box-shadow: 0 0 3px 2px $lightgreygreen;
}

.image-wrapper img, #sizing-image {
	margin: 10px;
	box-shadow: 0 0 5px 3px $lightmidgrey;
	max-width: 95%;
}

/* styles for secondary content below the fold */

div.divide-container {
	position:relative;
	padding: 0;
}

.divide-label-lg {
	position:relative;
	height: 115px;
}

div.gallery-divide-bkg {
/* There is 1.5rem of padding for the gallery section. because this is a row inside a row, 
 foundation sets the margin to -.9375. but this leave this chunk still pushed a bit to the right
 this negative margin corrects this. 1.5 - .9375 = .5625 */	
/*margin-left: .5625rem;*/
	background-color: $darkblue;
	background-image:url(../img/texture_blue.png);
}

div.row.divide-row {
	position: absolute;
	top: 0px;
	color: $lightgrey;
	width: 100%;
	margin: 0;
}

.divide-content {
	position:absolute;
	bottom: -1rem;
	padding-left: 0.9375rem;
	color: $lightgrey;
	margin-bottom: 0;
}

/*.social-icons-space {
	margin-left: 2em;
}*/
/*.social-icons-white a {
	color: white;
}*/
.social-icons-space a i {
	padding: 0 .5em 0 .5em ;	
}

.controls a {
	color: $midlightgrey;
}  

footer div p {
	color: $lightbrown;
}

.thumbnail-gallery {
	background-color: $darkblue;
	background-image:url(../img/texture_blue.png);
	padding: 1.5rem;
	padding-bottom: 0px;
}
div.column.gallery {
	padding: .5rem 1.5rem 1.5rem 1.5rem;
}
.thumbnail-gallery .not-viewed {
	  border: solid 4px $midgrey;
		opacity: 0.65; 
}
.thumbnail-gallery .viewed {
	  border: solid 4px $lightgrey; 
		opacity: 1;
}

.thumbnail-gallery .viewed:hover, .thumbnail-gallery .not-viewed:hover {
	  border: solid 4px $brightblue;
}

/* styles for the footer */
.brown-footer {
	background-color: $darkbrown;
	background-image:url(../img/texture_brown.png);
	padding: 1.5rem;
	padding-bottom: 0px;
	color: #a29991;
	margin-left: -0.9375rem;
	margin-right: -0.9375rem;
}
.brown-footer a {
	color: $lightgrey;
}
.logo-footer {
	margin-bottom: .5rem;
}
.fa-bars {
	color: $lightgrey;
}
.fa-bars:hover{
	color: $brightblue;
}

a:hover, a .fa-bars:hover{
	color: $brightblue;
}

/* images for animation */
.image-wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
	}

#image-overlay-content1, #image-overlay-content2, #image-overlay-content3, #image-overlay-content4, #image-overlay-content5, #image-overlay-content6, #image-overlay-content7, #image-overlay-content8, #image-overlay-content9, #image-overlay-content10, #image-overlay-content11, #image-overlay-content12, #image-overlay-content13, #image-overlay-content14, #image-overlay-content15, #image-overlay-content16, #image-overlay-content17, #image-overlay-content18, #image-overlay-content19, #image-overlay-content20, #image-overlay-content21, #image-overlay-content22, #image-overlay-content23, #image-overlay-content24, #image-overlay-content25, #image-overlay-content26, #image-overlay-content27, #image-overlay-content28, #image-overlay-content29, #image-overlay-content30,#image-overlay-content31, #image-overlay-content32, #image-overlay-content33, #image-overlay-content34, #image-overlay-content35 {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; 
	-ms-transform: translateX(-110%);
	-webkit-transform: translateX(-110%);
	transform: translateX(-110%);
	}
#image-overlay-content1 {
	-ms-transform: translateX(0px);
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}
#sizing-image {
	visibility: hidden;
}

/* text animation */
#text-overlay-content1, #text-overlay-content2, #text-overlay-content3, #text-overlay-content4, #text-overlay-content5, #text-overlay-content6, #text-overlay-content7, #text-overlay-content8, #text-overlay-content9, #text-overlay-content10, #text-overlay-content11, #text-overlay-content12, #text-overlay-content13, #text-overlay-content14, #text-overlay-content15, #text-overlay-content16, #text-overlay-content17, #text-overlay-content18, #text-overlay-content19, #text-overlay-content20, #text-overlay-content21, #text-overlay-content22, #text-overlay-content23, #text-overlay-content24, #text-overlay-content25, #text-overlay-content26, #text-overlay-content27, #text-overlay-content28, #text-overlay-content29, #text-overlay-content30, #text-overlay-content31, #text-overlay-content32, #text-overlay-content33, #text-overlay-content34, #text-overlay-content35 {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0; 
	-ms-transform: translateX(-110%);
	-webkit-transform: translateX(-110%);
	transform: translateX(-110%);
	}
#text-overlay-content1 {
	-ms-transform: translateX(0px);
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}
#sizing-head, #sizing-body {
		visibility: hidden;
}
/* bit of a kluge, remove the padding so the animation walks in from the edge of the screen. Add it back to the text elements. This is just on the index page*/
.video video,
.video canvas {
    top: 0;
    left: 0;
    width: 100%;
    max-width: 100%;
 }
video {
	width: 100% !important;
    height: 100% !important;
    position: absolute;
}
/* rick home styles */
.rickhome-left-panel, .rickhome-right-panel{
	position: relative;
	z-index: 5;
}
.rickhome-left-panel {
	margin-bottom: -30px;
}
#worlds img, #dogs img, #rp img, #random img, #bombs img, #self img{
	box-shadow: 0 0 5px 3px $lightmidgrey;
}
#worlds {
	padding-top: 8%;
	position: relative;
}
#worlds2 {
	padding-left: 15%;
	padding-right: 15%;
	padding-top: 2%;
	position: relative;
}
#dogs {
	padding-top: 4%;
	position: relative;
}
#rp {
	padding-left: 12%;
	padding-right: 12%;
	padding-top: 4%;
	position: relative;
}
#lamp {	
	padding-left: 5%;
	padding-right: 5%;
	margin-top: -5%;
	position: relative;
}
#random {
	padding-left: 17%;
	padding-right: 17%;
	padding-top: 2%;
	position: relative;
}
#random2 {
	padding-top: 8%;
	position: relative;
}

#bombs {
	padding-top: 10%;
	padding-left: 7%;
	padding-right: 7%;
	position: relative;
}
#self {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 4%;
	position: relative;
}

div.wedge {
	margin-left: -2px;
	margin-bottom: 0px;
	padding: 0;
	padding-bottom: 7.986%; /*this is your height/width ratio*/
	height: 0;
	position:relative;
}
div.wedge2 {
	/*margin-left: -2px;*/
	margin-bottom: 0px;
	padding: 0;
	padding-bottom: 7.986%; /*this is your height/width ratio*/
	height: 0;
	position:relative;
}

div.wedge-neg-space {
	margin-top: -7.986%;
	margin-left: -2px;
	margin-bottom: 0px;
	padding: 0;
	padding-bottom: 7.986%; /*this is your height/width ratio*/
	height: 0;
	position:relative;
}
div.rickhome-neg-space {
	margin-top: 20px;
}
div.rickhome-neg-space2 {
	margin-top: -1px;
}

h5.rickhome_gallery_names {
	color: #ddd;
	position: absolute;
	bottom: 8%;
	width:100%;
	font-family: 'Merriweather', serif;
	text-shadow:0px 0px 10px black;
	-webkit-transition: 0.2s;
  transition: 0.2s;
	line-height: 1.2em;
}

#lamp h5.rickhome_gallery_names {
	margin-left: -2%;
}
.rickhome_gallery {
  display: inline-block;
  position: relative;
  vertical-align: top;
	padding: 0;
}
.rickhome_gallery_black {
  background: black;
  bottom: 0;
  left: 0;
  opacity: .15;
  position: absolute;
  top: 0;
  right: 0;
	-webkit-transition: 0.2s;
  transition: 0.2s;
}
#lamp .rickhome_gallery_black {
	display: none;
}
#gallery_name {
	margin-top: -5%;
}
#gallery_name h4 {
	line-height: 1.2em;
}
.foot-container {
	  padding-bottom: 7.896%; /*this is your height/width ratio*/
    height: 0;
		position:relative;
		margin-left: 0;
}

.foot-container svg, .wedge svg, .wedge2 svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
